.BImg {
    background-image: url(../asset/bgtexture.jpg);
}
.NP {
    padding-top: 2rem;
}
.AM{
    padding-top: 2rem;
    padding-left: 2.2rem;
}
.GR {
    background-color: white;  
    padding-top: 2rem;
    color: #5F002B;
    font-family: montauk;
    
}
.FS {
    font-size: 12px;
    color: #5F002B;
    font-family: montauk;
}
.OT{
   color: #5F002B;
    background-color: white;
}
.CL {
  
}
